<a href="https://colab.research.google.com/github/adasinghasd123/Machine_Learning/blob/main/Asking_basic_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Asking basic question**

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("/content/iris.data.csv")

**How big is the data**

In [5]:
df.shape

(149, 5)

**How does the data look like?**

In [6]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
df.sample(10) #for random

     5.1  3.5  1.4  0.2      Iris-setosa
69   5.9  3.2  4.8  1.8  Iris-versicolor
32   5.5  4.2  1.4  0.2      Iris-setosa
109  6.5  3.2  5.1  2.0   Iris-virginica
24   5.0  3.0  1.6  0.2      Iris-setosa
50   6.4  3.2  4.5  1.5  Iris-versicolor
135  6.3  3.4  5.6  2.4   Iris-virginica
71   6.3  2.5  4.9  1.5  Iris-versicolor
10   4.8  3.4  1.6  0.2      Iris-setosa
118  6.0  2.2  5.0  1.5   Iris-virginica
68   5.6  2.5  3.9  1.1  Iris-versicolor

**What is the datatype of coloms?**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

**Are there is any missing values**

In [10]:
df.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

**How your data looks mathematically**

In [12]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

**Are there is any duplicate values**

In [15]:
df.duplicated().sum()

3

**How the column are coorelated**

In [16]:
df.corr()

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000