In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df=pd.read_csv("/content/50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [18]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [19]:
states=pd.get_dummies(x['State'],drop_first=True)

In [20]:
x=x.drop('State',axis=1)

In [21]:
x=pd.concat([x,states],axis=1)

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)

In [23]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
pred=model.predict(x_test)

In [25]:
from sklearn.metrics import r2_score
score=r2_score(y_test,pred)
score

0.9358680970046243